html {
  scroll-behavior: smooth;
  
}

body {
  margin: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  background-color:  #e9ecef;
  color: #111;
}

a {
  text-decoration: none;
  color: inherit;
}


h2 {
  letter-spacing: 1px;
}


.projects-grid {
  column-count: 4;
  column-gap: 20px;
  margin-top: 30px;
}


@media (max-width: 1200px) {
  .projects-grid {
    column-count: 3;
  }
}

@media (max-width: 900px) {
  .projects-grid {
    column-count: 2;
  }
}

@media (max-width: 600px) {
  .projects-grid {
    column-count: 1;
  }
}


.project-card {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 14px;
  margin-bottom: 20px;
  break-inside: avoid;
  box-shadow: 0 4px 12px rgb(18, 18, 18, 0.08);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.project-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgb(56, 175, 199, 0.15);
}


.project-title {
  margin: 0 0 10px;
  padding-bottom: 6px;
   font-family: 'DM Serif Display', serif;
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
  border-bottom: 2px solid #3a4a3f;
}
.project-card:hover .project-title {
  border-bottom-color: #40a7d4;
}

.project-card img {
  width: 100%;
  border-radius: 5px;
  display: block;
}


.project-info {
  margin-top: 10px;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 0.95rem;
  line-height: 1.4;
  color: #444;
  text-align: center;
}


.photo-grid-row {
  column-count: 4;
  column-gap: 20px;
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 1200px) {
  .photo-grid-row {
    column-count: 3;
  }
}

@media (max-width: 900px) {
  .photo-grid-row {
    column-count: 2;
  }
}

@media (max-width: 600px) {
  .photo-grid-row {
    column-count: 1;
  }
}


.photo-grid-row a {
  display: block;
  margin-bottom: 20px;
  break-inside: avoid;
}

.photo-grid-row img {
  width: 100%;
  border-radius: 6px;
  display: block;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.photo-grid-row img:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
}


footer {
  margin-top: 40px;
  font-size: 0.9rem;
}


img {
  user-select: none;
}

